.container{
  border: 1px solid lightblue;
  background:lightblue;
  margin:20px 0
}
.dropdown-divider{
  background-color:black
}
.wrap{
  margin: 20px
}
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
.text{
  text-align:center;
  font-size: 30px;
  color:#003459;
    font-family: 'Slabo 27px', serif;
}